<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='plugin/css/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugin/css/dataTables/dataTables.responsive.css') }}" rel="stylesheet">

    <title>MariBelajar</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icon.png') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static', filename='plugin/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugin/css/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugin/css/timeline.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugin/css/startmin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugin/css/morris.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div id="wrapper">
        {% include 'component/navbar1.html' %}
        <div class="container-fluid" style="padding: 25px; padding-top: 7%;">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='plugin/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/js/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/js/morris.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/js/morris-data.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/js/startmin.js') }}"></script>

    <script src="{{ url_for('static', filename='plugin/js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/js/dataTables/dataTables.bootstrap.min.js') }}"></script>


    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>



</body>

</html>